html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}


.bgimg{
	/*background-image:url(../images/top_.jpg);*/
	background-color: black;
	background-size:100%;
	background-repeat:no-repeat;
	background-position-y:-26px;
	
}/****top background pic****/


/****part of nav begin****/
.nav a{
	color:#FFFFFF;
	text-align:center;
	border: 2px solid #fff;
	border-radius: 0;
	padding-left:10px;
	padding-right:10px;
	margin-top:8px;
	height:35px;
	background-color: transparent;
	color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;

}

.navbar-nav li a{
	padding-top:6px;
}

.nav li{
	margin-left:20px;
	margin-right:10px;
}


.nav-pills li.active a:hover {
	background-color: #428bca;
}

.container-fluid{
	padding-left:100px;
	padding-right:50px;
}


#brandcolor  {
	color:#FFFFFF;
}

.nav{
	height:50px;
}

.bgnav{
	background-image:url(../images/top_.jpg);
	background-size:100%;
	background-image:no-repeat;
	background-position-y: -1px;
	margin-bottom: 0px;
}

/****part of nav end****/


/****part of top_context***/

.btn{
	margin-left:auto;
	margin-right:auto;
}

.container p .bs2-link
{
	color: #565F5D;
	text-shadow: 0 0 10px rgba(255,255,255,0.25);
}

.container p .bs2-link:hover
{
	color: #fff;
	text-shadow: 0 0 10px rgba(255,255,255,0.25);
}

#main-img {
	background-image: url(../images/1.jpg);
	opacity: 0.9;
	-moz-opacity: 0.9;
	text-align: center;
	height: 80%;
} 

#main-img h1{
	color:#FFFFFF;
	text-shadow: 0 1px 2px rgba(0,0,0,0.6);
	font-size:100px;
	padding-top:196px;
	margin-top: 0px; 
}

#main-img h4 {
	color:#FFFFFF;
	font-size:25px;
	margin-top:25px;
}

#main-img p {
	margin-top:5px;
}

.bs2-link {
	display: block;
	margin-top: 20px;
 	text-decoration:none;
 	cursor:pointer;
}

#main {
	margin:auto, 10%;
	padding: 2em;
	background-color: white;
}

#intro {
	border-bottom: 1px solid black;
}

#intro h1, #intro h3{
	text-align: center;
}

.block {
	padding:0 5%;
	display: inline-table;
	width: 33%;
	margin-top: 15px;
	margin-bottom: 50px;
}

#intro .border{
	border-right: 1px solid #999;
}

.block h2 {
	text-align: center;
	font-style: italic;
	font-size: 200%;
}

.block p{
	margin: 0;
	text-indent: 1em;
	font-size: 150%;
}

#intro span{
	font-size: 300%;
}

#intro-more {
	border: 1px solid green;
	position: relative;
	left: 95%;
	bottom: -1px;
	background-color: rgba(208,208,202,0.8);
	font-size: 10%;
	display: inline-block;
}

#intro-more p {
	color: rgb(79,2,255);
	margin: 0;
}

#join h2{
	text-align: center;
}

footer {
	padding: 2px;
	background:#222;
	min-height:3em;
	color:#aaa;
	text-align:center;
}

footer p {
	display: inline-block;
	margin: 16px;
}



/*****end****/